/* */

.header-component {
    /* The image used */
    background-image: url(../homePage/images/header.png);
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 15px solid #e8e8e8;
}

.how-it-works {
    /* The image used */
    background-image: url(../homePage/images/HowItWorks.png);

    /* Full height */
    height: 100%; 
    

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.chat-1 {
    /* The image used */
    background-image: url(../homePage/images/Chat1.png);

    /* Full height */
    height: 100%; 
    

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 15px solid #e8e8e8; */
}

.chat-2 {
    /* The image used */
    background-image: url(../homePage/images/Chat2.png);

    /* Full height */
    height: 100%; 
    

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 15px solid #e8e8e8; */
}

.chat-3 {
    /* The image used */
    background-image: url(../homePage/images/Chat3.png);

    /* Full height */
    height: 100%; 
    

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 15px solid #e8e8e8; */
}

.chat-4 {
    /* The image used */
    background-image: url(../homePage/images/Chat4.png);

    /* Full height */
    height: 100%; 
    

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 15px solid #e8e8e8;
}

.contactus {
    /* The image used */
    background-image: url(../homePage/images/contactus.png);

    /* Full height */
    height: 100%; 
    

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 15px solid #e8e8e8;
}

.footer {
    /* The image used */
    background-image: url(../homePage/images/footer.png);

    /* Full height */
    height: 100%; 
    

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 15px solid #e8e8e8;
}


